/* Custom styles for the country page */

#country-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .countryDetailsContainer{
    width: 100%;
  }

  .flag-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
  }
  
  #country-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #country-details p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .flag-image {
    max-width: 150px; /* Adjust the size of the flag */
    margin-right: 20px; /* Space between flag and country info */
  }

  