/* Custom styles for the country page */
#country-details,
#country-more {
  background-color: #f8f9fa;
  margin: 0 auto; /* Center the containers horizontally */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  min-height: 22vh;
  font-size: 14pt;
}


.countryDetailsContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.card {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  justify-content: center;

}

#flag, #coatOfArms{
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: right;
  justify-content: right;
}

#country-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#country-details p {
  font-size: 18px;
  margin-bottom: 8px;
}

.flag-image {
  width: 20%;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
