.chart-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.table-container {
    width: 50vw;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

#populationTable {
    width: 100%;
    border-collapse: collapse;
}

#populationTable th,
#populationTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#populationTable th {
    background-color: #f2f2f2;
}