body, h1, h2, ul, li, p, table {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: 
    #703859;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  
  nav ul {
    list-style: none;
    background-color: #444;
    overflow: hidden;
  }
  
  nav li {
    float: left;

  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  .breadcrumb{
    background-color: transparent;
    margin-top: 0%;

    position: sticky;
    height:20px;

  }

  .content{
    margin-top: 2%;
  }
 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  

  #viewBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #703859;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #countryCard {
    height: 5%;
    width: 100%;
  }

  #sort-select {
    padding: 10px
  }

  #filter-input {
    border-radius: 15px;
    padding: 10px;
    width: 60%;
  }
  
  /* Button styles on hover */
  #viewBtn:hover  {
    background-color: #70383D;
    box-shadow: 0 0 10px rgba(112, 56, 61, 0.8), 0 0 20px rgba(112, 56, 61, 0.6), 0 0 30px rgba(112, 56, 61, 0.4);
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  