body, h1, h2, ul, li, p, table {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: 
    #703859;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  .navCustom{
    background-color: 
    #703859;
    padding: 10px
  }
  
  nav ul {
    list-style: none;
    background-color: #444;
    overflow: hidden;
  }
  
  nav li {
    float: left;

  }
  
 .navbar-brand{
    color: white;
    text-decoration: none;
  }

  .navbar-nav .nav-item .nav-link.active {
    background-color: transparent;
  }

  a {
    color: black;
    text-decoration: none;
  }
  .gifContainer {
    height: 100vh;
    position: sticky;
    text-align: center;
    justify-content: center;
  }
  #gifGlobe {
    height: 60vh
  }

  .buttonContainer {
    text-align: center;
    justify-content: center;
    
  }

  .jumpButton {
    padding: 10px 20px;
    background-color: #703859;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  .jumpButton:hover {
    background-color: #70383D;
  }
  .breadcrumb{
    background-color: transparent;
    margin-top: 0%;

    position: sticky;
    height:20px;

  }

  
  .content{
    margin-top: 2%;
  }
 
  
  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  
  tr {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s; /* Transition for background color */
  }
  
  /* Animation on row hover */
  tr:hover {
    background-color: transparent; /* Initial background color */
    animation: wavyFill 1s linear infinite alternate; /* Animation properties */
  }
  
  /* Keyframes for wavyFill animation */
  @keyframes wavyFill {
    0% {
      background-position: 0 0; /* Start position of the gradient */
    }
    100% {
      background-position: 0 100%; /* End position of the gradient */
    }
  }
  

  

  
  

  #viewBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #703859;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #countryCard {
    height: 5%;
    width: 100%;
  }

  #sort-select {
    padding: 10px
  }

  #filter-input {
    border-radius: 15px;
    padding: 10px;
    width: 60%;
  }
  
  /* Button styles on hover */
  #viewBtn:hover  {
    background-color: #70383D;
    box-shadow: 0 0 10px rgba(112, 56, 61, 0.8), 0 0 20px rgba(112, 56, 61, 0.6), 0 0 30px rgba(112, 56, 61, 0.4);
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  